thead {
    color: rgb(212, 50, 50);
}

h1{ 
    color: rgb(184, 153, 33);
}

h2{
    color: rgb(91, 22, 22);
}
.t_transform_uppercase{
    text-transform: uppercase;
}

.t_transform_lowercase{
    text-transform: lowercase;
}

.t_transform_capitalize{
    text-transform: capitalize;
}

.t_transform{
    text-transform: uppercase;
}

.t_align_center{
    text-align: center;
}

.t_align_right{
    text-align: right;
}

.t_decoration{
    text-decoration: line-through;
}

.t_decoration_dotted { 
    text-decoration: dotted;
}

.t_decoration_overline{
text-decoration: overline;
}

/* .t_decore{ 
    text-decoration: underline, line-through ,overline ;

}*/

.t_decoration_underline{
    text-decoration: underline;
}

.t_indent{
    text-indent: 150px;
}

.t_line_height{
    line-height:30px;
}

.t_letter_space{
    letter-spacing: 10px;
}

.t_word_space{
    word-spacing: 40px;
}

.t_shadow{
    color: rgb(197, 34, 61);
    font-size: 500%;
    text-shadow: 9px        4px                      7px                          black;
    /*    horizontlly      vertically      optional(blur karne ke liye)   shadow color   */
    text-align: center;
}

.t_shadow_1{
    color:purple;
    font-size: 500%;
    text-shadow: 6px 4px 7px black;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    
}







