body{
    background-image: url(image/milky-way-2695569_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    color: antiquewhite;
    font-size: 130px;
    text-align: center;
}

.t_para{
    color: yellow;
    padding: 30px;
    background-color: transparent;
    font-weight: 6000;
    font-style: italic;
    font-size: 50px;
    font-family:cursive ;

}

.linear{
    height: 300px;
    background: linear-gradient(red green blue);
}