.flex_item{
    height: 200px;
    width: 250px;
    margin-top: 10px;
    background-color: rgb(235, 235, 207);
    color:black;
    font-size: 50px;
    margin: 10px;
    display: flex;
    /* justify-content: center make center at horizontally */
    justify-content: center;
    /* align-items: center make center at vertically */
    align-items: center;
}

.flex_container{
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: nowrap */
    flex-wrap: wrap;
    list-style: none;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
.flex_gallary{
    height: 150px;
    width: 150px;
    margin: 20px;
   display: flex;

}

.gallary{
    display: flex;
    margin: 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

