.img_b_shadow{

    height: 550px;
    width: 550px;
    box-shadow: 7px 7px 5px black;
}

.img_b_shadow_1{
     height: 550px;
    width: 550px;
    box-shadow: 8px 6px 16px blue;

}

.img_d_shadow{
    height: 550px;
    width: 550px;
    filter: drop-shadow(6px 6px 15px pink);
}

.img_d_shadow_1{
    height: 550px;
    width: 550px;
    filter: drop-shadow(15px  16px 10px green); 
}
.f_family1{
    font-family: monospace ;
}

.f_family2{
    font-family: cursive;
}

.f_family3{
font-family: sans-serif;
}

.f_family4{
    font-family: 'Times New Roman', Times, serif,'Arial', Helvetica, 'sans-serif';
}
.f_weight{
    font-weight: bolder;
    font-style: italic;

}

.f_font{
    font: italic bold 40px cursive;

}

.heading1{
    color: aqua;
    font-family: cursive;
}

#heading1{
    color: blueviolet;
}

.b_img1{
    height: 350px;
    width: 350px;
    border: 7px solid rgb(216, 128, 143);
    border: width 8px;
    border-top-color: rgb(159, 115, 61);
    border-bottom-color: aqua;
    border-left-color: black ;
}

.b_img2{
    height: 350px;
    width: 350px;
    border: 7px dashed rgb(25, 193, 235);
}

.b_img3{
    height: 350px;
    width: 350px;
    border: 7px dotted rgb(24, 136, 16);
}

.b_img4{
    height: 350px;
    width: 350px;
    border: 7px double rgb(187, 205, 18);
}

.b_img5{
    height: 350px;
    width: 350px;
    border: 7px inset rgb(115, 22, 203);
}

.b_img6{
    height: 350px;
    width: 350px;
    border: 7px outset rgb(206, 91, 19);
    
}


.b_img7{
    height: 350px;
    width: 350px;
    border: 7px groove rgb(66, 159, 117);
    
}


.b_img8{
  height: 350px;
    width: 250px; 
     border-radius: 550px;  
    border: 8px solid pink;
    filter:drop-shadow(6px 6px 6px red)

}

.b_img9{
  height: 350px;
    width: 350px;  
    border: 14px dotted brown;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 23px; */
    border-radius:50px 60px 90px 110px ;

    /* border-top-color: rgb(42, 130, 165);
    border-bottom-color:rgb(42, 130, 165);
    border-right-color: blueviolet; */
 border-color:rgb(42, 130, 165)blueviolet rgb(111, 255, 0) rgb(164, 36, 55);
}

.box_model1{
    border: 5px solid black;
    padding: 40px;
    margin: 24px;

}

.simple{
    border: 5px solid black;
}

.box_model2{
    border: 5px solid yellow;
    /* top, right, bottom ,left */
    /* padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 50px; */
/* top botttom , right left */
    padding: 60px 20px;
}

.box{
    width: 200px;
    height: 100px;
    background-color: bisque;
    border: 4px solid black;
    margin: 10px;

}
.box1{
    position: static;
}

.box2{
    position: relative;
    top:20px;
    left: 250px;

}

.box3{
    position: absolute;
    top:20px;
    left: 250px;

}

.box4{
   position: fixed; 
   bottom: 0px;
   right: 10px;
}
.box5{
    position: sticky;
    top: 0px;
}